* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    width: 1366px;
    margin: 0 auto;
}

.appTitle ,.noTodoTitle {
    font-size: 50px;
    text-align: center;
    padding: 20px;
    color: black;
    box-shadow: 10px 2px 50px 13px lightslategray;
    margin-top: 5%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(231,154,154,1) 25%, rgba(0,212,255,1) 100%);

    border-radius: 25px;
}

@media (380px <= width <=720px) {
.App{
    padding: 0 20px;
    width: 100%;
    
}
    

.appTitle ,.noTodoTitle{
    font-size: 30px;
    margin-top: 2%;

}

}


